body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2 {
  text-align: center;
}
h1 {
  font-size: 4em;
  font-weight: 900;
  margin: 5px;
}
h2 {
  font-size: 2em;
  font-weight: 300;
  margin: 5px;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
a:visited,
a:link {
  color: inherit;
}
::selection {
  background-color: black;
  color: white;
}
::-moz-selection {
  background-color: black;
  color: white;
}
#zip-input {
  height: 1.5em;
  width: 4em;
  margin: .5em auto .2em;
  background: none;
  border-style: none none dotted none;
  border-color: black;
  border-width: 1px;
  outline: none;
  font-size: 3em;
  font-weight: 300;
  color: black;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#zip-submit {
  background: none;
  font-size: 2em;
  font-weight: 900;
  color: black;
  border: none;
  margin-bottom: 2em;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#zip-submit:hover {
  text-decoration: underline;
}
#error {
  display: none;
  text-align: center;
  margin-top: 2em;
  color: red;
  padding: .25em;
  border: solid red 1px;
  border-left: none;
  border-right: none;
}
#bad-zip-code {
  text-align: center;
  margin: .5em;
  color: red;
  font-size: 3em;
  font-weight: 900;
}
#bad-zip-desc {
  text-align: center;
}
#back-link {
  display: inherit;
  text-align: center;
  margin: 1.5em;
  color: #308bff;
}
#city {
  margin-bottom: 1em;
}
#wrapper {
  width: 95%;
  max-width: 40em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#forecast {
  border-top: solid black 1px;
}
#forecast tr {
  padding: 1em;
  border-bottom: solid black 1px;
}
#forecast .day {
  width: 20%;
  padding-right: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}
#forecast .desc {
  width: 80%;
  padding-top: .5em;
  padding-bottom: .5em;
}
#alerts {
  font-style: italic;
}
#alerts td {
  padding: .5em 0em;
}
#station,
#time {
  font-style: italic;
  text-align: center;
  margin: .5em;
}
#error-msg {
  font-size: 3em;
  margin-top: .5em;
}
#error-desc {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}
#error-code {
  display: block;
  text-align: center;
}
