body {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,h2{
	text-align: center;
}

h1 {
	font-size: 4em;
	font-weight: 900;
	margin: 5px;
}

h2 {
	font-size: 2em;
	font-weight: 300;
	margin: 5px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: inherit;
}

::selection {
	background-color: black;
	color: white;
}

::-moz-selection {
	background-color: black;
	color: white;
}

// index.html

#zip-input {
	height: 1.5em;
	width: 150px;
	margin: 1em;
	background: none;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	outline: none;
	font-size: 2em;
	font-weight: 300;
	color: black;
	text-align: center;
	.center();
}

#zip-submit {
	height: 3em;
	width: 150px;
	background: none;
	font-weight: 900;
	color: black;
	border: solid black 1px;
	display: block;
	margin-bottom: 2em;
	.center();
}

#zip-submit:hover {
	background: black;
	color: white;
}

#error {
	display: none;
	text-align: center;
	margin-top: 2em;
	color: red;
	padding: .25em;
	border: solid red 1px;
	border-left: none;
	border-right: none;
}

// wrong_zip.html

#bad-zip-code {
	text-align: center;
	margin: .5em;
	color: red;
	font-size: 3em;
	font-weight: 900;
}

#bad-zip-desc {
	text-align: center;
}

#back-link {
	display: inherit;
	text-align: center;
	margin: 1.5em;
	color: rgb(48, 139, 255);
}

// forecast.html

#city {
	margin-bottom: 1em;
}

#wrapper {
	width: 95%;
	max-width: 40em;
	.center();
}

#forecast {
	border-top: solid black 1px;

	tr {
		padding: 1em;
		border-bottom: solid black 1px;
	}
	.day {
		width: 20%;
		padding-right: 1em;
		padding-top: .5em;
		padding-bottom: .5em;
	}
	.desc {
		width: 80%;
		padding-top: .5em;
		padding-bottom: .5em;
	}
}

#alerts {
	font-style: italic;
	td {
		padding: .5em 0em;
	}
}

#station, #time {
	font-style: italic;
	text-align: center;
	margin: .5em;
}

// 404.html, 500.html

#error-msg {
	font-size: 3em;
	margin-top: .5em;
}

#error-desc {
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
}

#error-code {
	display: block;
	text-align: center;
}

.center(){
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
  box-shadow:         @style @c;
}
