<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>wordy weather | {{ city }}</title>
        <meta name="description" content="Weather for humans — real forecasts with context, built-in uncertainty and more precipitation detail than a rain cloud icon.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="static/img/favicon.ico">

        <link rel="apple-touch-icon" href="static/img/apple-touch-icon-precomposed.png">
        <meta name="apple-mobile-web-app-title" content="weather">

        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,900,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <a href="../"><h1>wordy weather</h1></a>
        <h2 id="city">{{ city }}</h2>
        <div id="wrapper">
            {% if alerts %}
            <table id="alerts">
                <tbody>
                    {% for alert in alerts %}
                    <tr>
                        <td>{{ alert }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <table id="forecast">
                <tbody>
                {% for day,desc in forecast %}
                    <tr>
                        <td class="day">{{ day }}</td>
                        <td class="desc">{{ "\u2014".join(desc) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="station">
                {{ meta[0] }}
            </div>
            <div id="time">
                {{ meta[1] }}
            </div>
        </div>
    </body>
</html>
